li {
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

/*.button-num {
    padding-left: 42px;
    padding-right: 42px;
    background-image: -webkit-linear-gradient(top, #deab36 0, #deab36 22%, #deab36 48%, #deab36 73%, #d79618 100%);
    border: 1px solid #DAA520;
    color: #000;
    margin-top: 50px;
    border: 4px solid #000; 
    border-radius: 5px;
}*/

.button-num {
    padding-left: 30px;
    padding-right: 30px;
    /*background-color: #dca730;*/
    background-color: rgba(255, 255, 255, 0.82);
    border: 3px solid #c38e26;
    font-family:  'Lato','Arial', 'sans-serif';
    color: #c38e26;
    margin: 0 auto;
    font-weight: 400;
    /*width: 100px;*/
    /*margin-top: 50px;*/
    /*border: 4px solid #000; */
    /*border-radius: 30px;*/
    padding-bottom: 10px;
    cursor: pointer;
    padding-top: 10px;
    float: right;
    /*margin-bottom: 15px;*/
}